  # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL 
4. Scala 
5. Java 
6. C++ 
7. Julia
8. JavaScript
9. PHP
10. Go
11. Ruby
12. Visual Basic

Some of the commonly used libraries used by Data Scientists include:
1. Panda 
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. SciPy
7. Keras
8. TensorFlow

| Data Science Tools |
|------------------|
|Power Bi |
| Excel |
| Hadoop | 
| Spark | 
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [11]:
200 minutes into hours
# This will convert 200 minutes into hours by dividing by 60

SyntaxError: invalid syntax (3731908404.py, line 1)

**Objectives:**
1. Panda
- Numpy
- Matplotlib
- Seaborn
- Scikit-learn
- Scipy

## Author Mark Shestko Author